extends ../../includes/layout

block content
    
    //- Media by user?
        #view-docs.collapse
            .col-xs-12.ajax_content
                +uploadMediaForm('name')
                .ajax_file_content(data-resource-type='user', data-resource-id="#{user.id}")
                    p Loading...

    form.get_errors.container(method="post")
        .row
            .col-xs-12
                each msg in msgs
                    p.alert.alert-info(role="alert") #{msg}
                #error-msgs

        .row
            .actions
                //- 
                    .form-group.button-bar
                        .col-xs-4
                            button.btn.btn-default.form-control(type="button", data-toggle="collapse" data-target="#view-details") Details
                        .col-xs-4
                            button.btn.btn-default.form-control(type="button", data-toggle="collapse" data-target="#view-docs") Docs
                        .col-xs-4
                            a.btn.btn-default.form-control(href='/calendar') Calendar
                
                #view-details
                    .col-xs-12
                        input.form-control(name="#{userPrefix}email", value="#{user.email}", placeholder="Email") 

                    .col-xs-12 &nbsp;

                    .col-xs-6
                        input.form-control(name="#{userPrefix}first", value="#{user.first}", placeholder="First Name") 
                    .col-xs-6
                        input.form-control(name="#{userPrefix}last", value="#{user.last}", placeholder="Last")

                    .col-xs-12 &nbsp;

                    .col-xs-12
                        input.form-control(name="#{userPrefix}title", value="#{user.title}", placeholder="Title") 

                    .col-xs-12 &nbsp;

                    .col-xs-6
                        input.form-control(name="#{userPrefix}phone", value="#{user.phone}", placeholder="Phone #") 
                    .col-xs-6
                        input.form-control(name="#{userPrefix}phone2", value="#{user.phone2}", placeholder="Secondary Phone #") 

                    if( global.REQUEST.session.uid === user.id ) 
                        .col-xs-12 &nbsp;
                        
                        .col-xs-6
                            .form-control
                                label Password
                                p Fill this out to change your password, otherwise leave blank
                        .col-xs-6
                            input.form-control(name="#{userPrefix}password", value="", placeholder="Password") 
                            input.form-control(name="#{userPrefix}passwordConfirm", value="", placeholder="Password Confirmation") 
                    //-else 
                        pre #{JSON.stringify(global.REQUEST.session, null, 2)}
        .row
            .col-xs-12
                input.btn.btn-default(type="submit", value="Save")
                input(type="hidden", name="submitted", value="1")