extends ../includes/layout

block content
    //-
        pre.col-xs-12
            | #{JSON.stringify(allPhases, null, 2)}
            | #{JSON.stringify(project, null, 2)}
            pre REQUEST::: !{JSON.stringify(global.REQUEST.body, null, 2)}
            pre FILES::: !{JSON.stringify(global.REQUEST.files, null, 2)}
    
    form.get_errors.container(method="post", enctype="multipart/form-data")
        .row
            each msg in msgs
                p.alert.alert-info(role="alert") #{msg}
            #error-msgs

        .row
            .actions
                .form-group.button-bar
                    .col-xs-6
                        button.btn.btn-default.form-control(type="button", data-toggle="collapse" data-target="#view-details") Details
                    .col-xs-6
                        button.btn.btn-default.form-control(type="button", data-toggle="collapse" data-target="#view-docs") Docs
                #view-details.collapse
                    .col-xs-6.nopadding
                        .col-xs-6
                            label.form-control Date
                        .col-xs-6
                            input.form-control.datepicker(name="#{fieldReportPrefix}date", placeholder="DD-MM-YYYY", value="#{fieldReport.date}")
                    .col-xs-6.nopadding
                        .col-xs-6
                            label.form-control Time
                        .col-xs-6
                            input.form-control.timepicker(name="#{fieldReportPrefix}time", placeholder="XX:XX:XX", value="#{fieldReport.time}")

                    .col-xs-12 &nbsp;

                    .col-xs-6.nopadding
                        .col-xs-6
                            label.form-control Weather Conditions
                        .col-xs-6
                            input.form-control(name="#{fieldReportPrefix}weather", placeholder="Weather Conditions", value="#{fieldReport.weather}")
                    .col-xs-6.nopadding
                        .col-xs-6
                            label.form-control Built Before 1978?
                        .col-xs-6
                            input.form-control(name="#{fieldReportPrefix}built_before_1978")&attributes(fieldReport.built_before_1978)

                    .col-xs-12 &nbsp;
                    
                    .col-xs-6.nopadding
                        .col-xs-6
                            label.form-control Owner Sign Lead Pamphlet?
                        .col-xs-6
                            input.form-control(name="#{fieldReportPrefix}owner_sign_lead_pamphlet")&attributes(fieldReport.owner_sign_lead_pamphlet)
                    .col-xs-6.nopadding
                        .col-xs-6
                            label.form-control Customer Present?
                        .col-xs-6
                            input.form-control(name="#{fieldReportPrefix}customer_present")&attributes(fieldReport.customer_present)

                    .col-xs-12 &nbsp;

                    .col-xs-12.nopadding
                        .col-xs-6
                            label.form-control Customer
                        .col-xs-6
                            input.form-control(name="#{fieldReportPrefix}customer", placeholder="Customer", value="#{fieldReport.customer}")

                    .col-xs-12 &nbsp;

                    .col-xs-12.nopadding
                        .col-xs-6
                            label.form-control Address
                        .col-xs-6
                            input.form-control(name="#{fieldReportPrefix}address", placeholder="1234 Main St.", value="#{fieldReport.address}")

                    .col-xs-12 &nbsp;

                    .col-xs-12.nopadding
                        .col-xs-4
                            input.form-control(name="#{fieldReportPrefix}city", placeholder="City", value="#{fieldReport.city}")
                        .col-xs-4
                            input.form-control(name="#{fieldReportPrefix}state", placeholder="State", value="#{fieldReport.state}")
                        .col-xs-4
                            input.form-control(name="#{fieldReportPrefix}zip", placeholder="Zip code", value="#{fieldReport.zip}")

                    .col-xs-12 &nbsp;

                    .col-xs-8
                        input.form-control(name="#{fieldReportPrefix}insurance_company", placeholder="Insurance Co.", value="#{fieldReport.insurance_company}")
                    .col-xs-4
                        input.form-control(name="#{fieldReportPrefix}claim_num", placeholder="Claim #", value="#{fieldReport.claim_num}")

                    .col-xs-12 &nbsp;

                    .col-xs-12
                        textarea.form-control(name="#{fieldReportPrefix}notes", placeholder="Field Report Notes") #{fieldReport.notes}

                    .col-xs-12 &nbsp;
                #view-docs.collapse
                    +file_repeater()
                    +field_report_uploaded_files(fieldReportFiles)
        .row
            .row.colored-rows                
                .row.nice-row
                    .col-xs-6
                        label.form-label Project
                    .col-xs-6
                        select.form-control.project_id(name="#{fieldReportPrefix}project_id")
                            each project, i in projects
                                -var selectedAttr = {};
                                if( fieldReport.project_id == project.id ) 
                                    -selectedAttr.selected = "selected";
                                option(value="#{project.id}", data-phase-id="#{project.current_phase_id}")&attributes(selectedAttr) #{project.name}

                //- phase fields
                .col-xs-12.ajax_content.ajax_table
                    div.ajax_table_content.ajax_fields(data-url='#{global.REQUEST.slashedUrl}get_fields/', data-phase-id="#{allPhases[currentPhaseIndex].id}")
                        p Loading...
            
            .col-xs-12
                input.btn.btn-default(type="submit", value="Save")
                input(type="hidden", name="submitted", value="1")