//-generates the innerds of tables 2 be paired with ajax
include ../../includes/all_includes

//-debugging
if(0)
    pre
        | #{JSON.stringify(request.body, null, 2)}
        | rows: #{JSON.stringify(rows, null, 2)}
        | pageNum: #{JSON.stringify(pageNum, null, 2)}
        | foundRows: #{JSON.stringify(foundRows, null, 2)}
        | columns: #{JSON.stringify(columns, null, 2)}

if typeof (rows) !== 'undefined' && rows.constructor === Array && rows.length > 0
    +my_pagination(pageNum, foundRows)
    
    .container-fluid.col-xs-12.colored-rows
        each row, rowIndex in rows
            .row.nice-row
                .col-xs-10
                    p
                        strong 
                            | #{row.name}
                            if( typeof clients[row.client_id] === 'object' )
                                |  - #{sprintf("%s %s", clients[row.client_id]['first'], clients[row.client_id]['last'])}
                        br
                        | #{row.street}
                        br
                        | #{sprintf("%s, %s %s", row.city, row.state, row.zip)}
                .col-xs-2
                    .rightarrow
                        a(href='/projects/view/#{row.id}/')
                            i.icon-icon-arrow-right
                                
    +my_pagination(pageNum,foundRows)
else
    p Sorry, nothing was found.

