//- generates list of files
include ../../includes/all_includes

//-.col-xs-12
    pre basePath: #{JSON.stringify(basePath, null, 2)}
    pre projectPath: #{JSON.stringify(projectPath, null, 2)}
    pre fieldReportPath: #{JSON.stringify(fieldReportPath, null, 2)}

    pre projectFiles: #{JSON.stringify(projectFiles, null, 2)}
    pre fieldReportFiles: #{JSON.stringify(fieldReportFiles, null, 2)}

    pre users: #{JSON.stringify(users, null, 2)}
    pre fieldReports: #{JSON.stringify(fieldReports, null, 2)}
    pre phases: #{JSON.stringify(phases, null, 2)}
    
.already-uploaded
    .project-files
        h1 Project Files
        .col-xs-12
            if( projectFiles.length > 0 )
                ul.colored-rows
                    each projectFile in projectFiles 
                        li.row.nice-row
                            .col-xs-4
                                b #{global.getUserNameById(projectFile.uid)}
                            .col-xs-4
                                a(href="#{projectFile.link}")
                                    if( projectFile.type.indexOf('image') !== -1 ) 
                                        img(src="#{projectFile.link}", alt="#{projectFile.filename}")
                                    else
                                        p  #{projectFile.filename}
                            .col-xs-4
                                p #{projectFile.caption}

                hr.spacer

                .field-report-files
                    h1 Field Report Files
                    .col-xs-12
                        //-each phase, phaseId in phases
                            h2 Phase 
                                b #{phase.phase}
                            ul.colored-rows
                                each fieldReportFile in fieldReportFiles[phaseId] 
                                    li.row.nice-row
                                        .col-xs-4
                                            b #{global.getUserNameById(fieldReportFile.uid)}
                                        .col-xs-4
                                            a(href="#{fieldReportFile.link}")
                                                if( fieldReportFile.type.indexOf('image') !== -1 ) 
                                                    img(src="#{fieldReportFile.link}", alt="#{fieldReportFile.filename}")
                                                else
                                                    p  #{fieldReportFile.filename}
                                        .col-xs-4
                                            p #{fieldReportFile.caption}

            else
                p Project doesn't have any files yet